<Ui>
  <!-- BEHAVIOR -->
  <Script file="app.lua" />
  <!-- WIDGET -->
  <Frame parent="UIParent"
         name="BackboneApp"
         inherits="BackboneWindowTemplate"
         frameStrata="HIGH"
         hidden="false">
    <Size x="1024"
          y="768" />
    <Anchors>
      <Anchor point="TOP"
              y="-50" />
      <Anchor point="CENTER" />
    </Anchors>
    <Layers>
      <Layer level="BACKGROUND"
             textureSubLevel="5">
        <Texture parentKey="menuBaseLine">
          <Size y="1" />
          <Anchors>
            <Anchor point="TOPLEFT"
                    x="8"
                    y="-100" />
            <Anchor point="TOPRIGHT"
                    x="-8" />
          </Anchors>
        </Texture>
        <Texture parentKey="menuBaseLineShader">
          <Size y="1" />
          <Anchors>
            <Anchor point="TOPLEFT"
                    relativeKey="$parent.menuBaseLine"
                    relativePoint="BOTTOMLEFT" />
            <Anchor point="TOPRIGHT"
                    relativeKey="$parent.menuBaseLine"
                    relativePoint="BOTTOMRIGHT" />
          </Anchors>
        </Texture>
      </Layer>
      <Layer level="OVERLAY">
        <Texture parentKey="logoIcon"
                 file="interface\addons\backbone\media\icons\skeleton">
          <Anchors>
            <Anchor point="TOPLEFT"
                    x="28"
                    y="-24" />
          </Anchors>
          <Size x="56"
                y="56" />
        </Texture>
        <FontString parentKey="logoName"
                    text="Backbone"
                    font="interface\addons\backbone\media\fonts\kablammo.ttf">
          <Anchors>
            <Anchor point="CENTER"
                    relativeKey="$parent.logoIcon" />
            <Anchor point="LEFT"
                    relativeKey="$parent.logoIcon"
                    relativePoint="RIGHT"
                    x="24"
                    y="8" />
          </Anchors>
          <FontHeight val="42" />
        </FontString>
        <FontString parentKey="logoSlogan"
                    text="backbone:LOGO_SLOGAN"
                    inherits="BackboneFontDosis">
          <Anchors>
            <Anchor point="TOPLEFT"
                    relativeKey="$parent.logoName"
                    relativePoint="BOTTOMLEFT"
                    y="-3" />
          </Anchors>
        </FontString>
        <Texture>
          <Anchors>
            <Anchor point="TOPLEFT" />
            <Anchor point="TOPRIGHT" />
            <Anchor point="BOTTOM"
                    relativeKey="$parent.menuBaseLineShader"
                    relativePoint="TOP"
                    y="55" />
          </Anchors>
          <Color r="1"
                 g="1"
                 b="1"
                 a="0.01" />
        </Texture>
      </Layer>
    </Layers>
    <Frames>
      <Button parentKey="minimizeButton"
              inherits="BackboneButtonWithTooltipTemplate"
              text="backbone:APP_MINIMIZE_BUTTON">
        <Anchors>
          <Anchor point="TOPRIGHT"
                  relativeKey="$parent.closeButton"
                  relativePoint="TOPLEFT" />
          <Anchor point="BOTTOMRIGHT"
                  relativeKey="$parent.closeButton"
                  relativePoint="BOTTOMLEFT" />
        </Anchors>
        <Layers>
          <Layer level="OVERLAY">
            <FontString inherits="BackboneTooltipAnchorPoint"
                        text="UP" />
          </Layer>
        </Layers>
        <Scripts>
          <OnClick>            
            (self:GetParent()):SetShown(false)
            backbone.widgetControllers.activateShortcutFrame()
          </OnClick>
        </Scripts>
      </Button>
      <!-- CONTENT ANCHORS -->
      <Frame name="BackboneSidePanel">
        <Size x="250" />
        <Anchors>
          <Anchor point="TOPLEFT"
                  relativeKey="$parent.menuBaseLineShader"
                  relativePoint="BOTTOMLEFT"
                  y="-5" />
          <Anchor point="BOTTOM"
                  y="8" />
        </Anchors>
      </Frame>
      <Frame name="BackboneContentPanel">
        <Anchors>
          <Anchor point="TOPLEFT"
                  relativeTo="BackboneSidePanel"
                  relativePoint="TOPRIGHT"
                  x="5" />
          <Anchor point="TOPRIGHT"
                  relativeKey="$parent.menuBaseLineShader"
                  relativePoint="BOTTOMRIGHT" />
          <Anchor point="BOTTOM"
                  relativeTo="BackboneSidePanel" />
        </Anchors>
      </Frame>
    </Frames>
    <Scripts>
      <OnLoad>backbone.widgetConstructors.app(self)</OnLoad>
    </Scripts>
  </Frame>
</Ui>