<Ui>
  <Frame parent="UIParent"
         name="BackboneApp"
         inherits="BackboneWindowTemplate"
         frameStrata="FULLSCREEN_DIALOG"
         hidden="false">
    <Size x="1024"
          y="768" />
    <Anchors>
      <Anchor point="TOP"
              y="-50" />
      <Anchor point="CENTER" />
    </Anchors>
    <Frames>
      <Button parentKey="minimizeButton"
              inherits="BackboneButtonWithTooltipTemplate"
              text="backbone:APP_MINIMIZE_BUTTON">
        <Anchors>
          <Anchor point="TOPRIGHT"
                  relativeKey="$parent.closeButton"
                  relativePoint="TOPLEFT" />
          <Anchor point="BOTTOMRIGHT"
                  relativeKey="$parent.closeButton"
                  relativePoint="BOTTOMLEFT" />
        </Anchors>
        <Layers>
          <Layer level="OVERLAY">
            <FontString inherits="BackboneTooltipAnchorPoint"
                        text="DOWN" />
          </Layer>
        </Layers>
      </Button>
    </Frames>
  </Frame>
</Ui>