<Ui>
  <!-- TEMPLATE -->
  <Button virtual="true"
          parent="BackboneApp"
          name="BackboneMenuButton"
          inherits="BackboneButtonWithTooltipTemplate">
    <Size y="32" />
    <HitRectInsets left="-8"
                   right="-8" />
    <Layers>
      <Layer level="BACKGROUND">
        <Texture>
          <Anchors>
            <Anchor point="TOP"
                    relativePoint="CENTER" />
            <Anchor point="LEFT" />
            <Anchor point="BOTTOMRIGHT" />
          </Anchors>
          <Color r="1"
                 g="1"
                 b="1"
                 a="0.025" />
        </Texture>
      </Layer>
      <Layer level="OVERLAY">
        <FontString inherits="BackboneTooltipAnchorPoint"
                    text="UP" />
      </Layer>
    </Layers>
  </Button>
  <!-- OVERVIEW -->
  <Button parentKey="overviewButton"
          inherits="BackboneMenuButton"
          text="backbone:MENU_BUTTON_OVERVIEW">
    <Anchors>
      <Anchor point="LEFT"
              relativeKey="$parent.logoSlogan"
              relativePoint="RIGHT"
              x="80" />
      <Anchor point="BOTTOM"
              relativePoint="TOP"
              relativeKey="$parent.menuBaseLine" />
    </Anchors>
  </Button>
  <!-- SETTINGS -->
  <Button parentKey="settingsButton"
          inherits="BackboneMenuButton"
          text="backbone:MENU_BUTTON_SETTINGS">
    <Anchors>
      <Anchor point="BOTTOMLEFT"
              relativePoint="BOTTOMRIGHT"
              relativeKey="$parent.overviewButton"
              x="16" />
    </Anchors>
  </Button>
  <!-- PLUGINS -->
  <Button parentKey="pluginsButton"
          inherits="BackboneMenuButton"
          text="backbone:MENU_BUTTON_PLUGINS">
    <Anchors>
      <Anchor point="BOTTOMLEFT"
              relativePoint="BOTTOMRIGHT"
              relativeKey="$parent.settingsButton"
              x="16" />
    </Anchors>
  </Button>
  <!-- THEMES -->
  <Button parentKey="themesButton"
          inherits="BackboneMenuButton"
          text="backbone:MENU_BUTTON_THEMES">
    <Anchors>
      <Anchor point="BOTTOMLEFT"
              relativePoint="BOTTOMRIGHT"
              relativeKey="$parent.pluginsButton"
              x="16" />
    </Anchors>
  </Button>
  <!-- CONSOLE -->
  <Button parentKey="consoleButton"
          inherits="BackboneMenuButton"
          text="backbone:MENU_BUTTON_CONSOLE">
    <Anchors>
      <Anchor point="BOTTOMLEFT"
              relativePoint="BOTTOMRIGHT"
              relativeKey="$parent.themesButton"
              x="16" />
    </Anchors>
  </Button>
  <!-- UNIT TESTS -->
  <Button parentKey="unitTestsButton"
          inherits="BackboneMenuButton"
          text="backbone:MENU_BUTTON_TESTS">
    <Anchors>
      <Anchor point="BOTTOMLEFT"
              relativePoint="BOTTOMRIGHT"
              relativeKey="$parent.consoleButton"
              x="16" />
    </Anchors>
  </Button>
  <!-- BEHAVIOR -->
  <Script file="menu.lua" />
</Ui>